<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.17">
  <actions/>
  <description>file</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty/>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.5.4">
      <gitLabConnection>gitlab</gitLabConnection>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.45">
    <script>library &apos;mylib@develop&apos;;
import com.frame.tools.JenkinsBuilder;
node {
    stage(&quot;build&quot;){
        def build = new JenkinsBuilder(this);
        def prjs = [
            [&quot;name&quot;:&quot;esale-cloud-file&quot;,&quot;cla&quot;:&quot;com.teynet.esale.file.FileBootstrap&quot;,&quot;port&quot;:8606]
        ];
        // build.restart2(prjs, &apos;生产环境: 重启file成功&apos;, &apos;file&apos;,&quot;producttest&quot;);
       build.restart3(prjs, &apos;生产环境&apos;, &apos;file&apos;);
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>